{% extends 'base.html' %}
{% block content %}
<table class="table table-hover table-striped">
<thead>
<tr>
    <th>Item</th>
    <th>Value</th>
</tr>
</thead>
    <tbody>
        <form action="/delete-confirmed" method="post">
            <input type="hidden" name="sys_id" value="{{ context.system['id'] }}">
        <tr><td>ID</td><td>{{ context.system["id"] }}</td></tr>
        <tr><td>Name</td><td>{{ context.system['name']}}</td></tr>
        <tr><td>IP</td><td>{{ context.system['ip']}}</td></tr>
        <tr><td>Url</td><td>{{ context.system['url']}}</td></tr>
            <tr><td>Type</td><td>{{ context.system['systype']}}</td></tr>
            <tr><td>Location</td><td>{{ context.system['location']}}</td></tr>
        <tr>
            <td>&nbsp;</td>
            <td><button type="reset" class="bg-info"><a href="/">Cancel</a></button>&nbsp;<button type="submit" class="bg-danger">Confirm - delete This Record</button></td>
        </tr>
        </form>
    </tbody>
</table>
{% endblock %}
