{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>ip</th>
        <th>url</th>
        <th>type</th>
        <th>location</th>
        <th>action</th>
    </tr>
    </thead>
        <tbody>
        {% for s in context.systems %}
        <tr>
            <td>{{ s["id"] }}</td>
            <td>{{ s["name"] }}</td>
            <td>{{ s["ip"] }}</td>
            <td><a href="{{ s['url'] }}" target="_blank">{{ s["url"] }}</a></td>
            <td>{{ s["systype"] }}</td>
            <td>{{ s["location"] }}</td>
            <td>
                <a href="/edit/{{ s["id"] }}">
                    <img src="{{ url_for('static', filename='/icons/pencil-square.svg')}}" alt="edit"/>
                </a>
                <a href="/delete/{{ s["id"] }}">
                    <img src="{{ url_for('static', filename='/icons/trash.svg')}}" alt="delete"/>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



