{% extends 'base.html' %}
{% block header %}
{% endblock %}

{% block content %}
    <table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>ip</th>
        <th>url</th>
        <th>action</th>
    </tr>
    </thead>
        <tbody>
        {% for s in context.systems %}
        <tr>
            <td>{{ s["id"] }}</td>
            <td>{{ s["name"] }}</td>
            <td>{{ s["ip"] }}</td>
            <td><a href="{{ s['url'] }}" target="_blank">{{ s["url"] }}</a></td>
            <td><a href="/edit/{{ s["id"] }}"><span class="badge rounded-pill bg-primary">Edit</span></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



